{% extends "../_shared/base.html" %}

{% block content %}
<h3>Starting Points</h3>

<p>
Starting points are technologies people might use in a sentence like, "I know how to do it
in [blank1] but I have no idea how it's done in [blank2]."
</p>

<p>
blank1 might be "java" and blank2 might be "ruby."  Or, blank1 might be "hibernate" and
blank2 might be "active record."  Even though <a href="http://www.hibernate.org/">hibernate</a>
is a java technology, it's such a big complex peice of ORM software, it can be a starting 
point the same way the java language can be a starting point.
</p>

{% if error %}
<div class="error">
Error: {{ error }}  
</div>
{% endif %}

{% if permalink %}
<a href="/{{ permalink }}">{{ permalink }}</a>
{% endif %}

<p>
<form method="POST">
<strong>New Starting Point Name:</strong><br/>
<input type="textfield" name="s" size="40"/>
<br/>
<input type="submit" value="add new starting point"/>
</form>
</p>




{% endblock %}