{% extends "../_shared/base.html" %}

{% block content %}
ibake is an acronym for (<b>I</b>ndexed <b>B</b>y <b>A</b>lready <b>K</b>nown <b>E</b>xample)
<p>
Say you know <a href="http://www.mysql.com">mysql</a> really well, and are trying to get something 
simple done with <a href="http://www.postgresql.org/">postgres</a>.

(or vice versa, you might know postgres well and need to lookup a mysql command.)
</p>
<p>
While both mysql and postgres have excellent documentation, you may not know the
right term to look for in the foreign technology.  Wouldn't it be great if you
could lookup the postgres command you need by the mysql command you already know?
</p>

<p>
Same goes for <a href="http://java.sun.com/">Java<a/> vs. 
<a href="http://www.ruby-lang.org/">Ruby</a>.  Maybe you've done Java programming for years and know
that the method "trim" removes whitespace from the ends of a string.  Wouldn't it be great
to find the method that does this in Ruby indexed by the word "trim"?
</p>

<p>
ibake is a publicly editable wiki of technology documentation, indexed over and over again
by different terms so you can always find what you need by what you already know.
</p>

<h3>Common Starting Points</h3>
<ul>
<li><a href="/tag/mysql">MySQL</a></li>
<li><a href="/tag/mysql">PostgreSQL</a></li>
<li><a href="/tag/mysql">Java</a></li>
<li><a href="/tag/mysql">Ruby</a></li>
<li><a href="/tag/mysql">ActiveRecord</a></li>
<li><a href="/tag/mysql">Hibernate</a></li>
<li><a href="/tag/mysql">SVN</a></li>
<li><a href="/tag/mysql">git</a></li>
<li><a href="/tag/mysql">Cocoa</a></li>
<li><a href="/tag/mysql">Smarty</a></li>
<li><a href="/tag/mysql">Haml</a></li>
<li><a href="/tag/mysql">Velocity</a></li>
<li><a href="/tag/mysql">ERB</a></li>
<li><a href="/tag/mysql">Linux</a></li>
<li><a href="/tag/mysql">Mac OS</a></li>
<li><a href="/tag/mysql">Rails</a></li>
<li><a href="/tag/mysql">GAE</a></li>
<li><a href="/tag/mysql">Merb</a></li>
<li><a href="/tag/mysql">Django</a></li>
</ul>

<h3>See All Starting Points</h3>
<ul>
<li><a href="/tag/mysql">By Alphabetical Order</a></li>
<li><a href="/tag/mysql">By Popularity</a></li>
</ul>
{% endblock %}